{% include "flash.html" %}

<div class="row">
<div class="col-sm-12">

  <h1>{{Title}} {{Brand}}</h1>

  <p>{{Brand}} is a free, open-source to-do list.</p>

  <p>To learn more, see the <a href="https://github.com/chandler37/immaculater">source
  code</a>. It has two <code>README.md</code> files.</p>

  <p>For support, email <a
  href="mailto:{{SupportEmail}}">{{SupportEmail}}</a>.</p>

  <p>Our privacy policy is <a href="/todo/privacy.html">here</a>.</p>

  <h2>Getting Things Done®</h2>

  <p>{{Brand}} is not affiliated with, approved or endorsed by David Allen or
  the David Allen Company. David Allen is the creator of the Getting Things
  Done® system. GTD® and Getting Things Done® are registered trademarks of the
  David Allen Company. For more information on that company and its products,
  visit GettingThingsDone.com</p>

</div>
</div>

{% include "minimal_script_tag.html" %}
