{% include "flash.html" %}

<div class="row">
<div class="col-sm-12">
<h1>{{Title}}</h1>
Welcome, {{Nickname}}! (<a data-pjax="0" href="{{LogoutUrl}}">sign out</a>)<br><br>
</div>
</div>
  
<div class="row">
<div class="col-sm-12">
    <h2>Deleting Your Account</h2>

    <p>It is not possible to delete your account without e-mailing <a
    href="mailto:{{SupportEmail}}">{{SupportEmail}}</a>, but you can wipe your
    to-do list by going to the <a href="cli">command-line interface</a> and
    issuing the command <code>reset --annihilate</code>.</p>
</div>
</div>

    <hr>

<div class="row">
<div class="col-sm-12">
<h2>Changing Your Password</h2>
<p>Use the form below to change your password. Your
password cannot be the same as your username.</p>
</div>
</div><!-- row -->

<div class="row">
  <div class="col-sm-6 offset-sm-3">
{# The following form is not an i-pjax-form because we need a new session #}
{# cookie and I'm not sure if all user agents respect cookies set on XHRs. #}
<form method="post" id="passwordForm">
{% csrf_token %}
<input type="hidden" name="cmd" value="passwd" class="form-control">
<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
<div class="row">
<div class="col-sm-6">
<span id="8char" class="fa fa-times" style="color:#FF0004;"></span> 8 Characters Long<br>
<span id="ucase" class="fa fa-times" style="color:#FF0004;"></span> One Uppercase Letter
</div>
<div class="col-sm-6">
<span id="lcase" class="fa fa-times" style="color:#FF0004;"></span> One Lowercase Letter<br>
<span id="num" class="fa fa-times" style="color:#FF0004;"></span> One Number
</div>
</div>
<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="fa fa-times" style="color:#FF0004;"></span> Passwords Match
</div>
</div>
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
</form>
</div><!--/col-sm-6-->
</div><!-- row -->

<script>
"use strict";
$(document).ready(function () {
$("input[type=password]").keyup(function(){
	var ucase = new RegExp("[A-Z]+");
	var lcase = new RegExp("[a-z]+");
	var num = new RegExp("[0-9]+");
	
	if($("#password1").val().length >= 8){
		$("#8char").removeClass("fa-times");
		$("#8char").addClass("fa-check");
		$("#8char").css("color","#00A41E");
	}else{
		$("#8char").removeClass("fa-check");
		$("#8char").addClass("fa-times");
		$("#8char").css("color","#FF0004");
	}
	
	if(ucase.test($("#password1").val())){
		$("#ucase").removeClass("fa-times");
		$("#ucase").addClass("fa-check");
		$("#ucase").css("color","#00A41E");
	}else{
		$("#ucase").removeClass("fa-check");
		$("#ucase").addClass("fa-times");
		$("#ucase").css("color","#FF0004");
	}
	
	if(lcase.test($("#password1").val())){
		$("#lcase").removeClass("fa-times");
		$("#lcase").addClass("fa-check");
		$("#lcase").css("color","#00A41E");
	}else{
		$("#lcase").removeClass("fa-check");
		$("#lcase").addClass("fa-times");
		$("#lcase").css("color","#FF0004");
	}
	
	if(num.test($("#password1").val())){
		$("#num").removeClass("fa-times");
		$("#num").addClass("fa-check");
		$("#num").css("color","#00A41E");
	}else{
		$("#num").removeClass("fa-check");
		$("#num").addClass("fa-times");
		$("#num").css("color","#FF0004");
	}
	
	if($("#password1").val() == $("#password2").val()){
		$("#pwmatch").removeClass("fa-times");
		$("#pwmatch").addClass("fa-check");
		$("#pwmatch").css("color","#00A41E");
	}else{
		$("#pwmatch").removeClass("fa-check");
		$("#pwmatch").addClass("fa-times");
		$("#pwmatch").css("color","#FF0004");
	}
});

pjaxifyForms();

installTooltips();

});
</script>
