{% include "flash.html" %}

<div class="row">
  <div class="col-sm-12">
    {% load static %}
    <h1>{{Title}} &ndash; <a href="/todo"><img src="{% static Logo %}" alt="{{Brand}}" width=202 height=50></a></h1>

    Welcome, {{Nickname|escape}}! (<a data-pjax="0" href="{{LogoutUrl}}">sign out</a>)<br><br>

    An error occurred; use your back button or click the logo above to
    proceed. The following are the error details:

    <pre>{{ErrorText|escape}}</pre>
  </div>
</div>

<script>
"use strict";
$(document).ready(function() {

document.getElementById("i-quick-capture-form").reset();

});
</script>
