{% include "flash.html" %}

<div class="row">
<div class="col-sm-12">
{% load static %}
  <h1>{{Title}} &ndash; <a href="/todo"><img src="{% static Logo %}" alt="{{Brand}}" width=202 height=50></a></h1>

  Welcome, {{Nickname}}! (<a data-pjax="0" href="{{LogoutUrl}}">sign out</a>)<br><br>

  The following are keyboard shortcuts:

  <ul>

    <li>? &mdash; shows this page
    </li>

    <li>h &mdash; goes <a href="/todo">home</a>
    </li>

    <li>p &mdash; goes to <a href="/todo/projects">the list of Projects</a>
    </li>

    <li>i &mdash; goes to <a href="/todo/project/1">the Inbox</a>
    </li>

    <li>c &mdash; goes to <a href="/todo/contexts">the list of Contexts</a>
    </li>
    
    <li>C &mdash; goes to <a href="/todo/context/0">Actions without a Context</a>
    </li>
    
    <li>! &mdash; goes to <a href="/todo/cli">the command-line interface</a>
    </li>

    <li>w &mdash; goes to <a href="/todo/weekly_review">the weekly review</a>
    </li>

    <li>r &mdash; goes to <a href="/todo/weekly_review">the weekly review</a>
    </li>

    <li>d &mdash; goes to <a href="/todo/dl">Download Your Data</a>
    </li>

    <li>T &mdash; goes to <a href="/todo/text">a text-only view (good for searching)</a>
    </li>

    <li>t &mdash; goes to a true text-only view of all but deleted items
    </li>

    <li>I &mdash; goes to a true text-only view of incomplete, even if inactive, items
    </li>

    <li>s &mdash; goes to <a href="/todo/search">the search page</a>
    </li>

    <li>/ &mdash; focuses on the first text box on the page</a>
    </li>

    <li>f &mdash; follows the link in the flash message (the closeable colored box that
    pops up at the top of the page right below the navigation bar)</a>
    </li>
  </ul>

  <p>Search the web to learn about your web browser's shortcuts for going back
  and forward in your browser history. Perhaps command-left-arrow and
  command-right-arrow (or alt if you have no command key).</p>

  <p>Another shortcut for searching is to type in <code>/query</code> into the
  quick capture box in the top navigation bar. Then click on the link that
  appears (alternatively, press the TAB key to move keyboard focus away from
  the quick capture box and then use the "f" keyboard shortcut).</p>

  <p>When entering an action, you can type in the name of the context as a
  shortcut for assigning the context. For example, <code>walk the dog
  @home</code>.</p>

  <p>Similarly, when entering an action, you can prefix it with the name of the
  project and a colon, for example, <code>miscellaneous: buy soymilk @the
  store</code>.</p>

</div>
</div>
