[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # generated:
    pyatdllib/core/pyatdl_pb2.py,
    venv,
    clivenv,
    venv3
ignore =
    E111,
    E114,
    E121,
    E501,
    W293,
    W503,
 
